@use "../../../mixin" as *;
@use "../../../setting" as *;

.p-technology {
  text-align: center;
  vertical-align: bottom;

  @include mq(tab) {
    margin-top: -90px;
  }

  @include mq(sp) {
    margin-top: -160px;
  }
}

.p-technology__inner {
  padding-top: 80px;
  padding-bottom: 80px;

  @include mq(tab) {
    padding-top: 50px;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-left: 5%;
  }

  @include mq(sp) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.p-technology__text {
  @include mq(sp) {
    margin-top: 10px;
    text-align: left;
  }
}

// 「超越技術とは」スタイル
.p-technology__introduction {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  @include bg-image($filename: technology_introduction_bg);
}

// 「超越技術について」スタイル
.p-technology__about {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background: $color-base2;
}

// 「超越技術の特徴」スタイル
.p-technology__feature {
  @include bg-image($filename: technology_feature_bg);
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.p-technology__content {
  display: inline-block;
  margin: 0 auto;

  ul {
    list-style: none;
    text-align: left;
    margin-left: 145px;

    @include mq(sp) {
      margin-left: 0;
      margin-top: 30px;
    }

    li {
      &:before {
        position: relative;
        top: -5px;
        right: 6px;
        content: "";
        /* 空の要素作成 */
        width: 5px;
        /* 幅指定 */
        height: 5px;
        /* 高さ指定 */
        display: inline-block;
        /* インラインブロックにする */
        background-color: #9caed3;
        /* 背景色指定 */
        border-radius: 50%;
        /* 要素を丸くする */
      }
    }
  }
}

.p-technology__feature-wrap {
  display: flex;

  @include mq(sp) {
    display: block;
    text-align: left;
  }

  .p-technology__title {
    width: 120px;
    text-align: left;
    color: #9caed3;
    display: inline-block;

    @include mq(sp) {
      width: 100%;
    }
  }

  .p-technology__text {
    margin-left: 30px;
    display: inline-block;
    text-align: left;
    text-align: justify;

    @include mq(sp) {
      margin-left: 0;
    }
  }
}

.p-technology__feature-wrap + .p-technology__feature-wrap {
  @include mq(sp) {
    margin-top: 30px;
  }
}

// 「超越技術の活用例」スタイル
.p-technology__example {
  padding: 100px 0;
  background: $color-base2;
  width: 100vw;
  margin: 0 calc(50% - 50vw);

  @include mq(sp) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
