// color-palette
$palette-white: #FFF;
$palette-gray: #F4FAF8;
$palette-black: #4C4C4C;
$palette-blue: #728BC0;
// $palette-beige: #fae1b9;
// $palette-dark-brown: #504646;
// $palette-red: #9E393E;

// color
$color-base1: $palette-white;
$color-base2: $palette-gray;
$color-text1: $palette-black;
$color-accent: $palette-blue;
$color-heading-2: $palette-blue;
$color-heading-3: $palette-blue;
$color-header-text: $palette-white;
$color-footer-text: $palette-white;
