@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Outfit:wght@200;500&display=swap");

$base-font: "Outfit", "Noto Sans JP", sans-serif;
$sub-font: "Noto Sans JP", sans-serif;
$top-font: serif;
