@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Outfit:wght@200;500&display=swap");
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.8;
  height: 100%;
  font-feature-settings: "palt" 1;
}

body {
  color: #4C4C4C;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
  background-attachment: fixed;
  position: relative;
  text-align: justify;
}
@media (max-width: 800px) {
  body {
    font-size: calc(1.6rem + (1vw - 0.6rem) * 6);
    /* 画面幅600px以上800px以下可変 */
  }
}
@media (max-width: 599px) {
  body {
    font-size: 16px;
  }
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  cursor: pointer;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

a:visited {
  color: inherit;
}

/*********************************
	ヘッダー共通設定
*********************************/
.l-header {
  width: 100%;
  position: fixed;
  z-index: 100;
}
@media (max-width: 800px) {
  .l-header {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .order1 {
    order: 1;
  }
}

@media (max-width: 800px) {
  .order2 {
    order: 2;
  }
}

.l-header__logo {
  text-align: center;
  background: #fff;
  padding: 5px;
}
.l-header__logo img {
  height: 115px;
}
@media (max-width: 1024px) {
  .l-header__logo img {
    height: 90px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .l-header__logo img {
    height: 75px;
    margin: 0 auto;
  }
}

.l-header__inner {
  background: -ms-linear-gradient(0deg, #94cfbf 0%, #6c8cc1 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94CFBF', endColorstr='#6C8CC1' ,GradientType=0)";
  background: linear-gradient(90deg, #94cfbf 0%, #6c8cc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94CFBF", endColorstr="#6C8CC1", GradientType=1);
}
@media (max-width: 1024px) {
  .l-header__inner {
    padding: 0;
  }
}

.l-header__menu-pc {
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .l-header__menu-pc {
    padding: 0;
  }
}
@media (max-width: 800px) {
  .l-header__menu-pc {
    display: none;
  }
}

.l-header__list {
  height: 100px;
  list-style-type: none;
  font-size: 2.3rem;
  letter-spacing: 0.1em;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .l-header__list {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .l-header__list {
    height: 50px;
  }
}

.l-header__item a {
  color: inherit;
  position: relative;
  display: inline;
  text-decoration: none;
}
.l-header__item a span {
  display: block;
}
.l-header__item a span + span {
  font-size: 1rem;
  text-align: center;
}

.l-header__item:hover span {
  text-decoration: underline;
}

.l-header__logo img:hover,
.l-header__item:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

/*********************************
	ハンバーガーメニューの設定
*********************************/
.l-header__hamburger {
  display: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin: 0 0 0 auto;
  width: 40px;
  height: 60px;
}
@media (max-width: 800px) {
  .l-header__hamburger {
    display: block;
  }
}

.l-header__list-sp li {
  padding: 20px;
}
.l-header__list-sp li a > span {
  font-size: calc(1.7rem + (1vw - 0.32rem) * 1.6667);
  /* 画面幅320px(17px)以上800px(25px)以下可変 */
}
.l-header__list-sp li a span + span {
  font-size: calc(1.3rem + (1vw - 0.32rem) * 0.83333);
  /* 画面幅320px以上800px以下可変 */
}

.l-wrap {
  padding-top: 338px;
}
@media (max-width: 1024px) {
  .l-wrap {
    padding-top: 378px;
  }
}

.l-main__inner {
  max-width: 1024px;
  margin: 0 auto;
}

footer {
  position: relative;
}

.l-footer {
  background: -ms-linear-gradient(0deg, #94cfbf 0%, #6c8cc1 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94CFBF', endColorstr='#6C8CC1' ,GradientType=0)";
  background: linear-gradient(90deg, #94cfbf 0%, #6c8cc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94CFBF", endColorstr="#6C8CC1", GradientType=1);
  color: #FFF;
}

.l-footer__inner {
  padding-top: 90px;
  padding-bottom: 40px;
  text-align: center;
}
@media (max-width: 599px) {
  .l-footer__inner {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.l-footer__logo img:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

.l-footer__menu {
  margin-top: 110px;
}
@media (max-width: 800px) {
  .l-footer__menu {
    margin-top: 60px;
  }
}

.l-footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .l-footer__list {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  .l-footer__list {
    font-size: 2.6rem;
    font-size: calc(1.7rem + (1vw - 0.32rem) * 1.875);
    /* 画面幅320px以上800px以下可変 */
    display: inline-block;
    width: 40%;
    min-width: 190px;
  }
}

.l-footer__item:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

.l-footer__item a {
  color: inherit;
}
.l-footer__item a:visited {
  color: inherit;
}

.l-footer__item + .l-footer__item {
  margin-left: 60px;
}
.l-footer__item + .l-footer__item a {
  position: relative;
  color: #FFF;
}
.l-footer__item + .l-footer__item a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
@media (max-width: 800px) {
  .l-footer__item + .l-footer__item a::before {
    content: none;
  }
}
@media (max-width: 800px) {
  .l-footer__item + .l-footer__item {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .l-footer__item {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #FFF;
  }
}

@media (max-width: 800px) {
  .l-footer__item-1 {
    border-top: 1px solid #FFF;
  }
}

.l-footer__copyright {
  font-size: 1.5rem;
  margin-top: 65px;
}

/*********************************
	top
*********************************/
.p-top {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: relative;
  margin-top: -238px;
}
@media (max-width: 1024px) {
  .p-top {
    margin-top: -278px;
  }
}
@media (max-width: 800px) {
  .p-top {
    margin-top: -318px;
  }
}

/*********************************
	Welcome note
*********************************/
.p-message {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
@media (max-width: 1024px) {
  .p-message {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (max-width: 599px) {
  .p-message {
    padding-bottom: 70px;
  }
}

.p-message__img {
  width: calc(100% + 256px);
  margin: 0 -128px;
}
.p-message__img img {
  width: 100%;
}
@media (max-width: 800px) {
  .p-message__img {
    width: calc(100% + 20px);
    margin: 0 -10px;
  }
}

.p-message__title {
  font-size: 4rem;
  margin-top: 100px;
  color: #728BC0;
}
@media (max-width: 800px) {
  .p-message__title {
    font-size: calc(1.9rem + (1vw - 0.32rem) * 3.33333);
  }
}
@media (max-width: 599px) {
  .p-message__title {
    margin-top: 50px;
  }
}

.p-message__text {
  margin-top: 50px;
}
@media (max-width: 800px) {
  .p-message__text {
    text-align: left;
    text-align: justify;
    margin-top: 25px;
  }
}
@media (max-width: 599px) {
  .p-message__text {
    font-size: 1.6rem;
  }
}

.p-message__button {
  display: inline-block;
  font-size: 30px;
  width: 450px;
  letter-spacing: 0.2em;
  color: #728BC0;
  border: 2px solid #728BC0;
  padding: 15px 10px;
  margin-top: 50px;
  font-weight: bold;
}
.p-message__button:visited {
  color: #728BC0;
}
@media (max-width: 800px) {
  .p-message__button {
    width: 62.6%;
    font-size: calc(1.8rem + (1vw - 0.32rem) * 2.5);
  }
}

/*********************************
	What's new
*********************************/
.p-info {
  background: #F4FAF8;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding-top: 80px;
  padding-right: 5%;
  padding-bottom: 100px;
  padding-left: 5%;
}
@media (max-width: 1024px) {
  .p-info {
    font-size: 1.8rem;
    font-size: calc(1.6rem + (1vw - 0.32rem) * 0.4167);
    /* 画面幅320px以上800px以下可変 */
  }
}
.p-info__menu {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .p-info__menu {
    width: 100%;
  }
}

.p-info__menu > .p-info__box1 {
  border-top: 1px dashed #728BC0;
}

.p-info__box {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px dashed #728BC0;
  position: relative;
}
.p-info__box span {
  display: inline-block;
  position: absolute;
  right: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 599px) {
  .p-info__box {
    display: block;
  }
  .p-info__box span {
    transform: unset;
  }
}
.p-info__box:nth-child(odd) {
  background: #eaeef6;
}
.p-info__box dt {
  letter-spacing: 0.2em;
}
.p-info__box dt::after {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/home_info_new.png") no-repeat;
  width: 75px;
  height: 25px;
  left: 160px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .p-info__box dt::after {
    left: 150px;
  }
}
@media (max-width: 800px) {
  .p-info__box dt::after {
    left: 145px;
  }
}
@media (max-width: 599px) {
  .p-info__box dt::after {
    top: 35px;
  }
}
.p-info__box dt a {
  color: #4C4C4C;
  position: relative;
}
.p-info__box dd {
  margin-left: 115px;
  padding-right: 45px;
}
.p-info__box dd a {
  color: #4C4C4C;
}
@media (max-width: 599px) {
  .p-info__box dd {
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 0;
  }
}

/*********************************
	Corporate Profile
*********************************/
.p-profile {
  color: #728BC0;
  text-align: center;
}
@media (max-width: 1024px) {
  .p-profile {
    margin-top: -90px;
  }
}
@media (max-width: 800px) {
  .p-profile {
    margin-top: -200px;
  }
}

.p-profile__inner {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1024px) {
  .p-profile__inner {
    padding-top: 50px;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-left: 5%;
  }
}
@media (max-width: 800px) {
  .p-profile__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.p-profile__text {
  font-size: 4rem;
  padding-top: 70px;
  padding-bottom: 90px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-image: url("../img/profile_img.jpg");
  background-size: cover;
  background-position: center center;
}
@media (max-width: 800px) {
  .p-profile__text {
    display: none;
  }
}

.p-profile__text-sp {
  display: none;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
@media (max-width: 1024px) {
  .p-profile__text-sp {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (max-width: 800px) {
  .p-profile__text-sp {
    display: block;
    font-size: 4rem;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/profile_img-sp.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.p-profile__text-head {
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 800px) {
  .p-profile__text-head {
    font-size: calc(2rem + (1vw - 0.32rem) * 2.08333);
  }
}

.p-profile__text-head + p {
  margin-top: 50px;
  font-weight: 700;
  font-family: serif;
}
@media (max-width: 800px) {
  .p-profile__text-head + p {
    margin-top: 25px;
    font-size: calc(2.4rem + (1vw - 0.32rem) * 3.3333);
  }
}

/*********************************
	Mission
*********************************/
.p-mission {
  text-align: center;
}
@media (max-width: 800px) {
  .p-mission {
    text-align: unset;
  }
}

/*********************************
	Value
*********************************/
.p-value {
  text-align: center;
}
@media (max-width: 800px) {
  .p-value {
    text-align: unset;
  }
}

/*********************************
	Vision
*********************************/
.p-vision {
  text-align: center;
}
@media (max-width: 800px) {
  .p-vision {
    text-align: unset;
  }
}

/*********************************
	Corporate information
*********************************/
.p-c-info {
  padding-top: 90px;
  padding-bottom: 100px;
  background: #F4FAF8;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
@media (max-width: 1024px) {
  .p-c-info {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media (max-width: 800px) {
  .p-c-info {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.p-c-info__menu {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.p-c-info__menu > .p-c-info__box1 {
  border-top: 1px dashed #728BC0;
}

.p-c-info__box {
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #728BC0;
  background: #FFF;
}
.p-c-info__box:nth-child(odd) {
  background: #eaeef6;
}
@media (max-width: 800px) {
  .p-c-info__box {
    display: block;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    text-align: unset;
  }
  .p-c-info__box span {
    transform: unset;
  }
}
@media (max-width: 599px) {
  .p-c-info__box {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.p-c-info__box dt {
  color: #728BC0;
  font-weight: 500;
  text-align: center;
  width: 300px;
}
@media (max-width: 800px) {
  .p-c-info__box dt {
    text-align: unset;
    width: 100%;
  }
}
.p-c-info__box dd {
  width: calc(100% - 300px);
  border-left: 1px solid #4C4C4C;
  color: #4C4C4C;
  padding-left: 25px;
}
@media (max-width: 800px) {
  .p-c-info__box dd {
    width: 100%;
    border: none;
    padding-left: 0;
  }
}
.p-c-info__box dd ol {
  margin-left: 35px;
  text-align: justify;
}
@media (max-width: 800px) {
  .p-c-info__box dd ol {
    padding-right: 0;
    margin-left: 6.5%;
  }
}
@media (max-width: 599px) {
  .p-c-info__box dd ol {
    margin-left: 25px;
  }
}

/*********************************
	Access
*********************************/
.p-access {
  padding-top: 100px;
  padding-bottom: 200px;
}

.p-access__map {
  position: relative;
  height: 0;
  padding-top: 500px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
@media (max-width: 800px) {
  .p-access__map {
    padding-top: 85%;
  }
}
.p-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-technology {
  text-align: center;
  vertical-align: bottom;
}
@media (max-width: 1024px) {
  .p-technology {
    margin-top: -90px;
  }
}
@media (max-width: 800px) {
  .p-technology {
    margin-top: -160px;
  }
}

.p-technology__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1024px) {
  .p-technology__inner {
    padding-top: 50px;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-left: 5%;
  }
}
@media (max-width: 800px) {
  .p-technology__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .p-technology__text {
    margin-top: 10px;
    text-align: left;
  }
}

.p-technology__introduction {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-image: url("../img/technology_introduction_bg.jpg");
  background-size: cover;
  background-position: center center;
}

.p-technology__about {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background: #F4FAF8;
}

.p-technology__feature {
  background-image: url("../img/technology_feature_bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.p-technology__content {
  display: inline-block;
  margin: 0 auto;
}
.p-technology__content ul {
  list-style: none;
  text-align: left;
  margin-left: 145px;
}
@media (max-width: 800px) {
  .p-technology__content ul {
    margin-left: 0;
    margin-top: 30px;
  }
}
.p-technology__content ul li:before {
  position: relative;
  top: -5px;
  right: 6px;
  content: "";
  /* 空の要素作成 */
  width: 5px;
  /* 幅指定 */
  height: 5px;
  /* 高さ指定 */
  display: inline-block;
  /* インラインブロックにする */
  background-color: #9caed3;
  /* 背景色指定 */
  border-radius: 50%;
  /* 要素を丸くする */
}

.p-technology__feature-wrap {
  display: flex;
}
@media (max-width: 800px) {
  .p-technology__feature-wrap {
    display: block;
    text-align: left;
  }
}
.p-technology__feature-wrap .p-technology__title {
  width: 120px;
  text-align: left;
  color: #9caed3;
  display: inline-block;
}
@media (max-width: 800px) {
  .p-technology__feature-wrap .p-technology__title {
    width: 100%;
  }
}
.p-technology__feature-wrap .p-technology__text {
  margin-left: 30px;
  display: inline-block;
  text-align: left;
  text-align: justify;
}
@media (max-width: 800px) {
  .p-technology__feature-wrap .p-technology__text {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .p-technology__feature-wrap + .p-technology__feature-wrap {
    margin-top: 30px;
  }
}

.p-technology__example {
  padding: 100px 0;
  background: #F4FAF8;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
@media (max-width: 800px) {
  .p-technology__example {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.p-privacy {
  padding-bottom: 160px;
}
@media (max-width: 1024px) {
  .p-privacy {
    margin-top: -90px;
  }
}
@media (max-width: 800px) {
  .p-privacy {
    margin-top: -200px;
  }
}

.p-privacy__content {
  padding: 50px 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .p-privacy__content {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.p-privacy__text {
  display: inline-block;
  text-align: left;
  text-align: justify;
  width: 890px;
}
@media (max-width: 1024px) {
  .p-privacy__text {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .p-privacy__text {
    margin-top: 10px;
  }
}

.p-privacy__list {
  text-align: left;
  margin-top: 10px;
  margin-left: 90px;
}
@media (max-width: 1024px) {
  .p-privacy__list {
    margin-left: 20px;
  }
}

.p-privacy__contact > .p-privacy__list {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 67px;
}
.p-privacy__contact > .p-privacy__list a {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .p-privacy__contact > .p-privacy__list {
    margin-left: 0px;
  }
}

.p-contact {
  padding-bottom: 160px;
  text-align: center;
}
@media (max-width: 1024px) {
  .p-contact {
    margin-top: -90px;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (max-width: 800px) {
  .p-contact {
    margin-top: -200px;
  }
}
.p-contact p {
  padding-top: 30px;
  padding-bottom: 90px;
}
@media (max-width: 800px) {
  .p-contact p {
    padding-top: 20px;
    padding-bottom: 50px;
    display: inline-block;
    text-align: left;
  }
}

.p-form {
  background: #F4FAF8;
  padding: 95px 25px;
  border-radius: 19.298px;
  text-align: center;
}
@media (max-width: 599px) {
  .p-form {
    padding: 30px 15px;
  }
}

.p-form__container {
  width: 768px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .p-form__container {
    width: 95%;
  }
}

.p-form__container ~ .p-form__container {
  margin-top: 50px;
}

.p-form__label {
  display: block;
  text-align: left;
  margin-bottom: -30px;
}

.p-form__text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: none;
  border: 0.86px solid #cccccc;
  border-radius: 4.899px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 50px;
  padding: 0.4em 0.8em;
  width: 100%;
  max-width: 768px;
}
.p-form__text:focus {
  box-shadow: none;
  outline: none;
  outline: solid 1.5px #1811cf;
}
.p-form__text.contact {
  height: 290px;
  vertical-align: middle;
}

.p-form__button {
  display: inline-block;
  font-size: 30px;
  width: 450px;
  letter-spacing: 0.2em;
  color: #728BC0;
  border: 2px solid #728BC0;
  padding: 15px 10px;
  margin-top: 50px;
  font-weight: bold;
}
.p-form__button:visited {
  color: #728BC0;
}
@media (max-width: 800px) {
  .p-form__button {
    width: 62.6%;
    font-size: calc(1.8rem + (1vw - 0.32rem) * 2.5);
  }
}

.p-thanks {
  text-align: center;
  padding-bottom: 180px;
}
@media (max-width: 800px) {
  .p-thanks {
    margin-top: -100px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.p-thanks__button {
  display: inline-block;
  font-size: 25px;
  width: 450px;
  letter-spacing: 0.2em;
  color: #728BC0;
  border: 2px solid #728BC0;
  padding: 15px 10px;
  margin-top: 70px;
  font-weight: bold;
}
.p-thanks__button:visited {
  color: #728BC0;
}
@media (max-width: 800px) {
  .p-thanks__button {
    width: 62.6%;
    font-size: calc(1.8rem + (1vw - 0.32rem) * 2.5);
    text-align: unset;
  }
}

/*--------------------------------
	h2 見出し
--------------------------------*/
.c-heading-2 {
  color: #728BC0;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.2em;
  line-height: 1.2;
  font-weight: 300;
  position: relative;
  margin-bottom: 70px;
}
@media (max-width: 800px) {
  .c-heading-2 {
    margin-bottom: 45px;
    font-size: calc(3.3rem + (1vw - 0.32rem) * 3.54167);
  }
}
.c-heading-2 span {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
}
@media (max-width: 800px) {
  .c-heading-2 span {
    margin-top: 10px;
    font-size: calc(1.6rem + (1vw - 0.32rem) * 0.8333);
  }
}
.c-heading-2::after {
  position: absolute;
  display: block;
  content: "";
  width: 10%;
  border: none;
  height: 2px;
  background: #728BC0;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/*--------------------------------
	h3 見出し
--------------------------------*/
.c-heading-3 {
  color: #728BC0;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.2em;
  line-height: 3.333;
  font-weight: 400;
}
@media (max-width: 800px) {
  .c-heading-3 {
    font-size: calc(2.6rem + (1vw - 0.32rem) * 2.9167);
    line-height: 1.5;
  }
}

.c-border {
  border-top: 1px dashed #728BC0;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .c-border {
    width: 90%;
  }
}

.c-page-top {
  z-index: 99;
  position: fixed;
  right: 2%;
}

.c-page-top a {
  background-color: #728BC0;
  bottom: 10px;
  color: #fff;
  padding: 20px;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .c-page-top a {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 800px) {
  .c-page-top a {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1024px) {
  .u-br-pc {
    display: none;
  }
}

.u-br-tab {
  display: block;
}
@media (max-width: 800px) {
  .u-br-tab {
    display: none;
  }
}

.u-br-sp {
  display: none;
}
@media (max-width: 800px) {
  .u-br-sp {
    display: block;
  }
}

.u-br-sp-2 {
  display: none;
}
@media (max-width: 599px) {
  .u-br-sp-2 {
    display: block;
  }
}

.u-inline-block {
  display: inline-block;
}

/*------ ハンバーガーアイコンの設定 -------*/
.js-hamburger.is-show span {
  position: absolute;
  left: -10px;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 8px;
  transition: ease 0.75s;
}
.js-hamburger.is-show span:nth-of-type(1) {
  top: 16px;
}
.js-hamburger.is-show span:nth-of-type(2) {
  top: 28px;
}
.js-hamburger.is-show span:nth-of-type(3) {
  bottom: 16px;
}

.js-hamburger.is-show-done span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 28px;
}
.js-hamburger.is-show-done span:nth-of-type(2) {
  opacity: 0;
}
.js-hamburger.is-show-done span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
}

/*------ sp ヘッダーメニュー -------*/
.js-gnav-sp.is-show {
  left: 0px;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: -120%;
  left: 0;
  color: #FFF;
  background: -ms-linear-gradient(0deg, #94cfbf 0%, #6c8cc1 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94CFBF', endColorstr='#6C8CC1' ,GradientType=0)";
  background: linear-gradient(90deg, #94cfbf 0%, #6c8cc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94CFBF", endColorstr="#6C8CC1", GradientType=1);
}
.js-gnav-sp.is-show ul {
  flex-direction: column;
}
.js-gnav-sp.is-show ul li {
  text-align: center;
  border-top: 1px solid #fff;
}

.js-gnav-sp.is-show-done {
  top: 60px;
}
/*# sourceMappingURL=style.css.map */