@use "../../../mixin" as *;
@use "../../../setting" as *;

.p-contact {
  padding-bottom: 160px;
  text-align: center;

  @include mq(tab) {
    margin-top: -90px;
    padding-right: 5%;
    padding-left: 5%;
  }

  @include mq(sp) {
    margin-top: -200px;
  }

  p {
    padding-top: 30px;
    padding-bottom: 90px;

    @include mq(sp) {
      padding-top: 20px;
      padding-bottom: 50px;
      display: inline-block;
      text-align: left;
    }
  }
}

.p-form {
  background: $color-base2;
  padding: 95px 25px;
  border-radius: 19.298px;
  text-align: center;

  @include mq(sp-2) {
    padding: 30px 15px;
  }
}

.p-form__container {
  width: 768px;
  margin: 0 auto;

  @include mq(tab) {
    width: 95%;
  }
}

//一番上のcontainer以外にmargin-topを指定
.p-form__container ~ .p-form__container {
  margin-top: 50px;
}

.p-form__label {
  display: block;
  text-align: left;
  margin-bottom: -30px;
}

.p-form__text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: none;
  border: 0.86px solid #cccccc;
  border-radius: 4.899px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 50px;
  padding: 0.4em 0.8em;
  width: 100%;
  max-width: 768px;

  &:focus {
    box-shadow: none;
    outline: none;
    outline: solid 1.5px #1811cf;
  }

  @include mq(tab) {
  }
}

.p-form__text.contact {
  height: 290px;
  vertical-align: middle;
}

.p-form__button {
  display: inline-block;
  font-size: 30px;
  width: 450px;
  letter-spacing: 0.2em;
  color: $color-accent;
  border: 2px solid $color-accent;
  padding: 15px 10px;
  margin-top: 50px;
  font-weight: bold;

  &:visited {
    color: $color-accent;
  }

  @include mq(sp) {
    width: 62.6%;
    font-size: calc(1.8rem + ((1vw - 0.32rem) * 2.5));
  }
}
