//天地中央配置
@mixin vertical-centering {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//左右中央配置
@mixin horizontal-centering {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}